events
/.vscode
Scrapper/*
!Scrapper/__init__.py
!Scrapper/app.py
!Scrapper/webscrap.py
!Scrapper/requirements.txt
Forecast/*
!Forecast/Artefacts/*
!Forecast/app.py
!Forecast/requirements.txt
!Forecast/__init__.py