events
/.vscode
Scrapper/*
!Scrapper/__init__.py
!Scrapper/app.py
!Scrapper/webscrap.py
!Scrapper/requirements.txt
Transform/*
!Transform/__init__.py
!Transform/app.py
!Transform/requirements.txt
!Transform/transform.py
Forecast/*
!Forecast/Artefacts/*
!Forecast/app.py
!Forecast/requirements.txt
!Forecast/__init__.py